.Hero_Container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Grid_Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    place-items: center;
}

.Hero_Image img{
    width: 650px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
    animation: from_left ease-in-out 1000ms;
}

.Hero_Content{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    font-size: large;
    gap: 10;
    animation: from_right ease-in-out 1000ms;
}

.Hero_Title p{
    font-weight: bold;
    font-size: 2.5em;
}

.Hero_Subtitle p{
    color: #3A015C;
    font-size: 1.5em;
    margin-top: 8px;
}

.Hero_Button{
    /* text-align: center; */
    margin-top: 25px;
}

.Hero_Button button{
    background-color: #4F0147;
    color: white;
    padding: 10px 50px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
}

.Hero_Button button:hover{
    transition: all ease 200ms;
    background-color: #3e0138;
}

.Card_Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/svg/pattern_2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1000px;
}


.Title p{
    width: 200px;
    margin-bottom: 25px;
    font-size: 1.5em;
    border-bottom: 2px solid #3A015C;
    text-align: center;
}

.Card_Grid_Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    place-items: center;
}

.About_Container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.About_Grid_Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    place-items: center;
}

.About_Image img{
    width: 450px;
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
}
.About_Content{
    width: 500px;
}

.p_Title{
    font-size: 3em;
    margin-bottom: 15px;
}

.Contact_Us_Container{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

/* Animation */

@keyframes from_left {
    0%{
        transition: all ease-in 800ms;
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes from_right {
    0%{
        transition: all ease-in 800ms;
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}